{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="bg-red-100 rounded-lg p-4 mb-4 text-sm text-red-700 dark:bg-red-200 dark:text-red-800" role="alert">
            <span class="font-medium">{{ flashError }}</span>
        </div>
    {% endfor %}

    <h3 class="text-center text-2xl mt-2 font-bold">Registracija</h3>

    {{ form_start(registrationForm) }}
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="firstName">
                    Vardas
                </label>
                {{ form_row(registrationForm.firstName) }}
            </div>
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="lastName">
                    Pavardė
                </label>
                {{ form_row(registrationForm.lastName) }}
            </div>
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                    Vartotojo vardas
                </label>
                {{ form_row(registrationForm.username) }}
            </div>
            <div class="mb-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                    El. paštas
                </label>
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="birthDate">
                    Gimimo data
                </label>
                {{ form_row(registrationForm.birthDate) }}
            </div>
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    Slaptažodis
                </label>
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">
                    Registracija
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-400 hover:text-blue-darker" href="#">
                    Jau turite paskyrą? Prisijunkite!
                </a>
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" integrity="sha512-J9QfbPuFlqGD2CYVCa6zn8/7PEgZnGpM5qtFOBZgwujjDnG5w5Fjx46YzqvIh/ORstcj7luStvvIHkisQi5SKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                minViewMode: 1,
                autoclose : true
            });
        })
    </script>
{% endblock %}
