{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="w-full block flex justify-center py-2">
            <h1 class="text-4xl header-font">Skelbimo redagavimas</h1>
        </div>

        {{ form_start(scooterForm) }}
        <div class="px-36 border">
            <div class="grid grid-cols-4">
                <div class="py-3">
                    <h4 class="pb-1">Gamintojas:</h4>
                    {{ form_row(scooterForm.manufacturer, { 'attr': {'value': scooter.manufacturer} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Modelis:</p>
                    {{ form_row(scooterForm.model, { 'attr': {'value': scooter.model} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Variklio galia:</p>
                    {{ form_row(scooterForm.power, { 'attr': {'value': scooter.power} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Baterijos talpa:</p>
                    {{ form_row(scooterForm.batteryCapacity, { 'attr': {'value': scooter.batteryCapacity} }) }}
                </div>

                <div class="py-3">
                    <h4 class="pb-1">Paspirtuko svoris:</h4>
                    {{ form_row(scooterForm.weight, { 'attr': {'value': scooter.weight} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Didžiausias greitis:</p>
                    {{ form_row(scooterForm.maxSpeed, { 'attr': {'value': scooter.maxSpeed} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Nuvažiuojamas atstumas:</p>
                    {{ form_row(scooterForm.maxDistance, { 'attr': {'value': scooter.maxDistance} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Baterijos įkrovimo laikas:</p>
                    {{ form_row(scooterForm.batteryChargeTime, { 'attr': {'value': scooter.batteryChargeTime} }) }}
                </div>

                <div class="py-3">
                    <p class="pb-1">Didžiausias leistinas svoris:</p>
                    {{ form_row(scooterForm.maxWeight, { 'attr': {'value': scooter.maxWeight} }) }}
                </div>
                <div class="py-3">
                    <p class="pb-1">Ekranas:</p>
                    <div class="relative">
                        {{ form_row(scooterForm.hasScreen, { 'attr': {'value': scooter.hasScreen} }) }}
                    </div>
                </div>
                <div class="py-3">
                    <p class="pb-1">Apšvietimas:</p>
                    <div class="relative">
                        {{ form_row(scooterForm.hasLight, { 'attr': {'value': scooter.hasLight} }) }}
                    </div>
                </div>
                <div class="py-3">
                    <p class="pb-1">Paspirtuko dalis:</p>
                    <div class="relative">
                        {{ form_row(scooterForm.isPart, { 'attr': {'value': scooter.isPart} }) }}
                    </div>
                </div>
                <div class="py-3" id="part-type">
                    <p class="pb-1">Dalies tipas:</p>
                    <div class="relative">
                        {{ form_row(scooterForm.partType, { 'attr': {'value': scooter.partType} }) }}
                    </div>
                </div>
            </div>

            <div class="py-3 grid grid-cols-5">
                <div class="col-span-3 pr-10">
                    <p class="pb-1">Aprašymas:</p>
                    <textarea class="w-full h-64" name="description"></textarea>
                </div>

                <div class="col-span-2">
                    <p class="pb-1">Nuotraukų įkėlimas:</p>
                    {{ form_row(scooterForm.image, { 'attr': {'value': scooter.image} }) }}
{#                    <div class="grid grid-cols-3">#}
{#                        <div class="w-24 h-24 border-dashed border-2 my-3"></div>#}
{#                        <div class="w-24 h-24 border-dashed border-2 my-3"></div>#}
{#                        <div class="w-24 h-24 border-dashed border-2 my-3"></div>#}
{#                        <div class="w-24 h-24 border-dashed border-2 my-3"></div>#}
{#                        <div class="w-24 h-24 border-dashed border-2 my-3"></div>#}
{#                        <div class="w-24 h-24 border-dashed border-2 my-3"></div>#}
{#                    </div>#}
                </div>
            </div>
        </div>

        <div class="px-36 py-3 flex">
            <div>
                <input class="border rounded w-56 py-2 px-2" id="search" type="text" name="price" placeholder="Kaina">
            </div>
            <div class="w-full block flex-grow flex lg:w-auto justify-end mr-6">
                <div>
                    <button class="bg-red-400 hover:bg-red-500 text-white font-bold py-2 px-4 rounded" onclick="location.href='{{ path('app_index') }}';">Atšaukti</button>
                </div>
                <div class="pl-2">
                    <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Įkelti skelbimą</button>
                </div>
            </div>
        </div>
        {{ form_end(scooterForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#part-type').hide();

            $('select[id="scooter_new_form_isPart"]').change(function(){
                $('#part-type').toggle();
                $('select[id="scooter_new_form_partType"]').val(0);
            });
        });
    </script>
{% endblock %}